@media (min-width:425px) {
    .media-container {    
        color: red;
    }
  
    .blue, .green {
        display: none;
    }
}

@media (min-width: 550px) {
    .media-container {    
        color: blue;
    }
  
    .green, .red {
        display: none;
    }
  
    .blue {
        display: inline;
    }
}

@media (min-width: 675px) {
    .media-container {    
        color: green;
    }
  
    .blue, .red {
        display: none;
    }
  
    .green {
        display: inline;
    }
}